<div class="terminal bp bottom-margin">
<pre>--------------------------------------------------------------------------------
  Java (21.0.2-tem)        https://projects.eclipse.org/projects/adoptium.temurin/
  
  Java Platform, Standard Edition (or Java SE) is a widely used platform for
  development and deployment of portable code for desktop and server environments.
  Java SE uses the object-oriented Java programming language. It is part of the
  Java software-platform family. Java SE defines a wide range of general-purpose
  APIs – such as Java APIs for the Java Class Library – and also includes the Java
  Language Specification and the Java Virtual Machine Specification.
  
                                                                $ sdk install java
  --------------------------------------------------------------------------------</pre>
</div>