<div class="terminal bottom-margin">
    <pre>
[INFO] Scanning for projects...
[INFO]
[INFO] -----------------< dev.passingarguments:primeNumbers >------------------
[INFO] Building primeNumbers 0.3.0
[INFO]   from pom.xml
[INFO] --------------------------------[ jar ]---------------------------------
[INFO]
[INFO] --- clean:3.2.0:clean (default-clean) @ primeNumbers ---
[INFO] ------------------------------------------------------------------------
[INFO] BUILD SUCCESS
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  0.173 s
[INFO] Finished at: 2024-01-25T23:39:46+01:00
[INFO] ------------------------------------------------------------------------
    </pre>
</div>
