.terminal {
  color: white;
  background-color: black;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 0.78em;
  max-width: 720px;
}

.bp {
  padding-bottom: 5px;
}

.bottom-margin {
  margin-bottom: 20px;
}

.green {
  color:#4E9A06;
}

pre {
  white-space: pre-wrap;
  font-family: "DejaVu Sans Mono", monospace;
  line-height: 21.06px;
  padding: 10px 0px;
}