<div
  class="terminal bp"
>
  <pre><b>SUBCOMMANDS &amp; QUALIFIERS</b>
  help         <i>[subcommand]</i>
  install      <i>&lt;candidate&gt; [version] [path]</i>
  uninstall    <i>&lt;candidate&gt; &lt;version&gt;</i>
  list         <i>[candidate]</i>
  use          <i>&lt;candidate&gt; &lt;version&gt;</i>
  config       no qualifier
  default      <i>&lt;candidate&gt; [version]</i>
  home         <i>&lt;candidate&gt; &lt;version&gt;</i>
  env          <i>[init|install|clear]</i>
  current      <i>[candidate]</i>
  upgrade      <i>[candidate]</i>
  version      no qualifier
  offline      <i>[enable|disable]</i>
  selfupdate   <i>[force]</i>
  update       no qualifier
  flush        <i>[tmp|metadata|version]</i></pre>
</div>
