<div class="terminal bottom-margin">

  <pre>
================================================================================
Available Java Versions for Linux 64bit
================================================================================
Vendor        | Use | Version      | Dist    | Status     | Identifier
--------------------------------------------------------------------------------
Temurin       |     | 21.0.2       | tem     | installed  | 21.0.2-tem
              |     | 21.0.1       | tem     |            | 21.0.1-tem
              |     | 17.0.10      | tem     |            | 17.0.10-tem
              |     | 17.0.9       | tem     |            | 17.0.9-tem
              | >>> | 17.0.8       | tem     | local only | 17.0.8-tem
              |     | 11.0.22      | tem     |            | 11.0.22-tem
              |     | 11.0.21      | tem     | installed  | 11.0.21-tem
              |     | 8.0.402      | tem     |            | 8.0.402-tem
              |     | 8.0.392      | tem     |            | 8.0.392-tem
  </pre>
</div>